<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <title>PLAN</title>
  </head>
  <body style="background-color: #b8bbd1">
    <div class="container">
      <h1 class="display-4 text-center py-1">PLANS AND GOALS</h1>
      <div class="jumbotron p-3 shadow-sm">
        <form action="/create-item" method="POST" id="create-form">
          <div class="d-flex align-items-center">
            <input
              type="text"
              id="create-field"
              autofocus
              autocomplete="off"
              class="form-control mr-3"
              style="flex: 1"
              placeholder="enter an input"
              name="item"
            />
            <button class="btn btn-primary" style="border-radius: 20px">
              Add Plans
            </button>
          </div>
        </form>
      </div>
      <button
        id="clean-all"
        class="btn btn-danger"
        style="border-radius: 20px; margin-top: 20px"
      >
        Delete Plans
      </button>
    </div>
  </body>
</html>
